<div id="header-post">
  <a id="menu-icon" href="#"><i class="fas fa-bars fa-lg"></i></a>
  <a id="menu-icon-tablet" href="#"><i class="fas fa-bars fa-lg"></i></a>
  <a id="top-icon-tablet" href="#" aria-label="Top of Page"><i class="fas fa-chevron-up fa-lg"></i></a>
  <span id="menu">
    <span id="nav">
      <ul>
        {{ range .Site.Menus.main }} 
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </span>
    <br/>
    <span id="actions">
      <ul>
        {{ if .Prev }}
        <li>
          <a id="menu-icon-previous" class="icon" href=" {{ .Prev.Permalink }}" aria-label="Previous">
            <i class="fas fa-chevron-left" aria-hidden="true"></i>
          </a>
        </li>
        {{ end }}
        {{ if .Next }}
        <li>
          <a id="menu-icon-next" class="icon" href="{{ .Next.Permalink }}" aria-label="Next">
            <i class="fas fa-chevron-right" aria-hidden="true"></i>
          </a>
        </li>
        {{ end }}
        <li>
          <a id="menu-icon-top" class="icon" href="#" aria-label="Top of Page">
            <i class="fas fa-chevron-up" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a id="menu-icon-share" class="icon" href="#" aria-label="Share">
            <i class="fas fa-share-alt" aria-hidden="true"></i>
          </a>
        </li> 
      </ul>
      <span id="i-prev" class="info">Previous post</span>
      <span id="i-next" class="info">Next post</span>
      <span id="i-top" class="info">Back to top</span>
      <span id="i-share" class="info">Share post</span>
    </span>
    <br/>
    <div id="share">
      {{ .Scratch.Set "icon_class_name" ""}}
      {{ partial "share.html" . }}
    </div>
    {{ if not .Site.Params.tocInline }}
    <div id="toc">
      {{ .TableOfContents }}
    </div>
    {{ end }}
  </span>
</div>
